<div #mapContainer>
     @if (isEditing) {
          <div #map [style.height.px]="mapContainerHeight"
               leaflet 
               leafletDraw
               [leafletOptions]="options"
               [leafletDrawOptions]="drawOptions"
               [leafletFitBounds]="mapFitToBounds"
               (leafletDrawCreated)="onDrawCreated($event)"
               (leafletDrawDeleted)="onDrawDeleted($event)">
               <div [leafletLayer]="drawnItems"></div>
          </div>
     } @else {
          <div #map [style.height.px]="mapContainerHeight"
               leaflet
               [leafletOptions]="options"
               [leafletFitBounds]="mapFitToBounds">
               <div [leafletLayer]="drawnItems"></div>
          </div>
     }
</div>
