<div class="p-0">
    <clr-input-container>
        <label>Query Field</label>
        <input #autoInput
        clrInput
        type="text"
        (input)="onChange('$event.target.value')"
        placeholder="Click to generate query field"
        />
    </clr-input-container>

    <clr-select-container>
        <label>add query</label>
        <select clrSelect name="options" required (clrSelectedChange)="onSelectionChange('$event')">
            <option *ngFor="let option of filteredOptions$ | async" [value]="option">{{option}}</option>
        </select>
        <clr-control-helper>Helper text</clr-control-helper>
        <clr-control-error>This field is required!</clr-control-error>
    </clr-select-container>
</div>