<div class="clr-row">
    <div class="clr-col-lg-12 clr-col-md-8 clr-col-12">
        <div class="card">
            <div class="card-header">
                {{getItemTypeTitle(itemType)}} details
            </div>
            <div class="card-block">
                <div class="card-text">
                    <div class="clr-row">
                        @if (itemType === 'instance') {
                            @if (!noMap) {
                                <div class="clr-col-md-12">
                                    <app-input-geometry [geometry]="geometry"/>
                                </div>
                            }
                            <div class="clr-col-md-12">
                                @if (isLoading) {
                                    <div class="spinner-view">
                                        <clr-spinner *ngIf="isLoading">Loading</clr-spinner>
                                    </div>
                                } @else {
                                    <app-item-table [item]="item" [itemType]="itemType" [showCertTables]="showCertTables"
                                    [columnForMenu]="columnForMenu" (openXmlDialogEvent)="openXmlDialog($event)"
                                    (openCertModalEvent)="openCertModal()" (downloadDocFileEvent)="downloadDocFile($event)"
                                    />    
                                }
                            </div>
                        } @else {
                            @if (isLoading) {
                                <div class="spinner-view">
                                    <clr-spinner *ngIf="isLoading">Loading</clr-spinner>
                                </div>
                            } @else {
                                <app-item-table [item]="item" [itemType]="itemType" [showCertTables]="showCertTables" 
                                [activeCertificates]="activeCertificates" [revokedCertificates]="revokedCertificates"
                                [columnForMenu]="columnForMenu" [serial]="serial" [hasEditPermission]="hasEditPermission"
                                (downloadBtnEvent)="clickDownloadBtn($event)" (revokeBtnEvent)="clickRevokeBtn($event)"
                                (openCertModalEvent)="openCertModal()" (openXmlDialogEvent)="openXmlDialog($event)"/>
                                @if (itemType === 'orgcandidate') {
                                    <app-item-form #newAdminUserForm title="New administrator user" [isForNew]="true" [itemType]="userItemType" [item]="adminUser"
                                    [mrnPrefix]="adminUserMrnPrefix" [keysToFilter]="['permissions']" />
                                }
                            }
                        }
                        
                    </div>
                </div>
            </div>
            @if (!viewOnly) {
                <div class="card-footer">
                    @if (itemType === 'service' && instanceVersion) {
                        <button class="btn btn-primary" (click)="clickMigrateBtn()">Migrate</button>
                        <clr-signpost>
                            <clr-signpost-content clrPosition="top-right" *clrIfOpen>
                              <h3>If you are using chrome browser for migration</h3>
                              <p>
                                We recommend you to use an incognito window to avoid CORS issues.
                              </p>
                            </clr-signpost-content>
                          </clr-signpost>
                    } @else if(itemType === 'orgcandidate') {
                        <button class="btn btn-success" (click)="approve()">Approve</button>
                    } @else {
                        <button class="btn btn-primary" (click)="onEdit()">Edit</button>
                    }
                    <button class="btn btn-danger" (click)="deleteItem()">Delete</button>
                </div>
            }
        </div>
    </div>
</div>

<clr-modal #certModal class="modal" [(clrModalOpen)]="certModalOpened" clrModalSize="lg">
    <div class="modal-title">
            <button aria-label="Close" class="close" type="button" (click)="onCancel()">
            </button>
            <h3 class="modal-title">Issue a new certificate</h3>
        </div>
        <div class="modal-body">
            @if (certificateBundle) {
                <div class="clr-col-sm-12 clr-col-md-12">
                    <p>Here is your certificate bundle. You can download it by clicking the button below.</p>
                </div>
            } 
        </div>
        
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" (click)="onDownload()">Download certificate</button>
            <button class="btn btn-outline" type="button" (click)="onCancel()">Close</button>
        </div>
</clr-modal>

<clr-modal #revokeModal class="modal" [(clrModalOpen)]="revokeModalOpened" clrModalSize="lg">
    <div class="modal-title">
            <button aria-label="Close" class="close" type="button" (click)="onCancel()">
            </button>
            @if (selectedActiveCerts.length > 1) {
                <h3 class="modal-title">Revoke {{selectedActiveCerts.length}} certificates</h3>
            } @else {
                <h3 class="modal-title">Revoke {{selectedActiveCerts.length}} certificate</h3>
            }
        </div>
        <div class="modal-body">
            <div class="clr-col-sm-12 clr-col-md-12">
                <div class="clr-row">
                    <span><b>Warning: chosen certificates will no longer be valid when they are revoked!</b></span>
                </div>
                <div class="clr-row">
                    <div class="clr-col-4">
                        <div><h5>Reason name</h5></div>
                        <div>
                            @for (reason of revokeReasons ; track reason) {
                                <clr-radio-wrapper>
                                    <input type="radio" clrRadio name="options" required (click)="revokeReason = reason"/>
                                    <label>{{reason.title}}</label>
                                </clr-radio-wrapper>
                            }
                        </div>
                    </div>
                    <div class="clr-col-8">
                        <div><h5>Explanation</h5></div>
                        <div>
                            @if (revokeReason) {
                                <div>
                                    <span>{{revokeReason.description}}</span>
                                </div>
                                <div>
                                    <a [href]="revokeReason.reference" target="_blank">More info</a>
                                </div>
                            } @else {
                                <div>
                                    <span>Select reason name</span>
                                </div>
                            }      
                        </div>
                                          
                    </div>
                </div>
                <div class="clr-row">
                    <div class="clr-col-4">
                        <div><h5>Revoke at</h5></div>
                    </div>
                    <div class="clr-col-8">
                        <clr-date-container>
                            <input type="date" autocomplete="off" clrDate name="demo" [(ngModel)]="revokeAt" />
                        </clr-date-container>
                    </div>
                </div> 
                <div class="clr-row">
                    <div>
                        <p>Choose revocation reason and date to proceed.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" (click)="revokeCerts(selectedActiveCerts)">Revoke</button>
            <button class="btn btn-outline" type="button" (click)="onCancel()">Cancel</button>
        </div>
</clr-modal>

<clr-modal #migrateModal class="modal" [(clrModalOpen)]="migrateModalOpened" clrModalSize="lg">
    <div class="modal-title">
            <button aria-label="Close" class="close" type="button" (click)="onCancel()">
            </button>
            {{'ir.migrate.title' | translate}}
        </div>
        <div class="modal-body">
            <div class="clr-col-sm-12 clr-col-md-12">
                <div class="clr-row">
                    <span>{{'ir.migrate.info' | translate}}</span>
                </div>
                <div class="clr-row">
                    <form class="clr-form">
                        <div class="clr-form-control">
                          <label for="basic" class="clr-control-label">Recommended new MRN for your service</label>
                          <div class="clr-control-container">
                            <div class="clr-input-wrapper">
                              <input type="text" id="basic" placeholder="Enter value here" class="clr-input" [style.width.px]=400 [value]="newServiceMrn" />
                              <cds-icon class="clr-validate-icon" shape="exclamation-circle"></cds-icon>
                            </div>
                            <span class="clr-subtext">New MRN can have the version of service inside.</span>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" (click)="migrate()">Migrate</button>
            <button class="btn btn-outline" type="button" (click)="onCancel()">Cancel</button>
        </div>
</clr-modal>

<clr-modal #xmlModal class="modal" [(clrModalOpen)]="xmlModalOpened" clrModalSize="lg">
    <div class="modal-title">
        <button aria-label="Close" class="close" type="button" (click)="onCancel()">
        </button>
        XML viewer
    </div>
        <div class="modal-body">
            <div class="clr-col-sm-12 clr-col-md-12">
                <div class="clr-row">
                    <div class="clr-control-container">
                        <div class="clr-textarea-wrapper">
                            <textarea clrTextarea cols="100" rows="40">{{xmlContent}}</textarea>
                            <cds-icon class="clr-validate-icon" shape="exclamation-circle"></cds-icon>
                        </div>
                        <span class="clr-subtext">
                            <a href="https://www.iala-aism.org/product/g1128-specification-of-e-nav-technical-service-fillable-annex-f-service-instance-description/" target="_blank">What is G1128?</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
</clr-modal>