<clr-modal [(clrModalOpen)]="modalOpen" [clrModalClosable]="false">
  <div class="modal-title">
    {{ modalTitle }}
  </div>
  <div class="modal-body">
    <p>{{ modalMessage }}</p>
    <div class="clr-form-control">
      <label class="clr-control-label" for="certificate-password">Password</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input
            id="certificate-password"
            class="clr-input"
            type="password"
            [(ngModel)]="passwordValue"
            (keyup.enter)="submit()"
          />
        </div>
      </div>
    </div>
    @if (confirmRequired) {
      <div class="clr-form-control modal-confirm-field">
        <label class="clr-control-label" for="certificate-password-confirmation">Confirm password</label>
        <div class="clr-control-container">
          <div class="clr-input-wrapper">
            <input
              id="certificate-password-confirmation"
              class="clr-input"
              type="password"
              [(ngModel)]="passwordConfirmationValue"
              (keyup.enter)="submit()"
            />
          </div>
        </div>
      </div>
    }
    @if (validationMessage) {
      <clr-alert clrAlertType="danger" [clrAlertClosable]="false" class="modal-password-alert">
        <clr-alert-item>
          <span class="alert-text">{{ validationMessage }}</span>
        </clr-alert-item>
      </clr-alert>
    }
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="submit()">Continue</button>
  </div>
</clr-modal>
