<div class="card" style="margin-top: 0px;">
    <div class="card-header">
        <div class="card-header-title">{{title}}
            <clr-signpost>
                <clr-signpost-content *clrIfOpen [clrPosition]="'right-bottom'" >
                  <h4>How to search service?</h4>
                  <p>
                    Service Registry provides a service search with parameters defined in IEC 63173-2 SECOM standard.
                    Please choose parameter from <b>Add query</b> elements and enter value you want to search and press <b>Search</b> button.
                    </p>
                    <p>
                    Geographical search: You can also do a geometry search by clicking icons on the left side. <br>
                    <img src="assets/images/geometry_search.png" alt="Search with geometries"/>
                    So you can define an area of interest together with the search parameters. <br>
                  </p>
                </clr-signpost-content>
              </clr-signpost>
        </div>
        
    </div>
    <div class="clr-container" style="padding: 10px;">
        <div class="clr-row clr-col-sm-12 clr-col-md-12" style="display: flex; align-items: center; gap: 8px;">
            <span cds-text="subsection">Add query: </span> 
            <clr-select-container style="margin-top: 0px;">
                <select clrSelect [(ngModel)]="selectedItem" name="options" required (change)="addLuceneItem($event)">
                    <option *ngFor="let option of fieldInfo" [value]="option.value">{{option.name}}</option>
                </select>
            </clr-select-container>
        </div>
        <input hidden fullWidth placeholder="field1:value1 AND/OR field2:value2" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
                  class="form-control search-location" #luceneQueryStringInput (change)="onQueryStringChanged($event)">
        <div class="clr-row clr-col-sm-12 clr-col-md-12">
            <div class="clr-justify-content-start no-gutter">
                <div class="clr-container">
                    <div class="clr-row clr-justify-content-start" style="padding: 3px;">
                        <ng-template #luceneComponentHost></ng-template>
                        <!-- query container -->
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-row clr-col-sm-12 clr-col-md-12" style="margin-top: 10px;">
            <clr-accordion style="margin-bottom: 0px; width:100%;">
                <clr-accordion-panel>
                  <clr-accordion-title>Presets</clr-accordion-title>
                  <clr-accordion-content *clrIfExpanded>
                    <span class="label" (click)="addPreset('mycompany')">Services in my company</span>
                    <span class="label" (click)="addPreset('nw')">Navigational warning services</span>
                    <span class="label" (click)="addPreset('route')">Route Plan services</span>
                  </clr-accordion-content>
                </clr-accordion-panel>
            </clr-accordion>
        </div>
        <div class="card-separator"></div>
        <div class="clr-row">
            <div class="clr-col-sm-8">
                <button class="btn btn-primary btn-block" (click)="search()">{{btnTitle}}</button>
            </div>
            <div class="clr-col-sm-4">
                <button class="btn btn-secondary btn-block" (click)="clearInput()">Clear all</button>
            </div>
        </div>
    </div>
</div>