.card-separator {
    border-top: 1px solid #dcdcdc; /* 회색 구분선 */
    margin: 16px 0; /* 위아래 여백 */
}

/*
.clr-control-container {
    display: block;
    width: 100%;

    .clr-select-wrapper,
    .clr-select {
      width: 100%;
    }
}*/