<clr-header [role]="role" [clr-nav-level]="1">
    <div class="branding">
        <a (click)="goHome()" class="nav-link">
            <cds-icon shape="crown"></cds-icon>
        <span class="title">Management Portal</span>
        </a>
    </div>
    <div class="header-nav" [clr-nav-level]="2">
      
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
          {{currentLangName}}
          <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu>
            @for (option of langs; track option.code) {
                <div aria-label="option.code" clrDropdownItem (click)="changeLang(option.code)">{{ option.name }}</div>
            }
        </clr-dropdown-menu>
      </clr-dropdown>
        <clr-dropdown>
          <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
            {{userName}}
            <cds-icon shape="angle" direction="down"></cds-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <button class="btn btn-link" (click)="toggleTheme()">switch to {{counterTheme}}</button>
            <button class="btn btn-link" (click)="goMyPage()">personal page</button>
            <button class="btn btn-link" (click)="logOut()">log out</button>
          </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</clr-header>