<clr-header [role]="role" [clr-nav-level]="1">
    <div class="branding">
        <a href="javascript://" class="nav-link">
            <cds-icon shape="user"></cds-icon>
        <span class="title">Management Portal</span>
        </a>
    </div>
    <div class="header-nav" [clr-nav-level]="2">
        <a href="javascript://" class="nav-link nav-text">Home</a>
        <a href="javascript://" class="nav-link nav-text">Dashboard</a>
    </div>
    <div class="header-actions">
        <clr-dropdown>
          <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
            john.doevmware.com
            <cds-icon shape="angle" direction="down"></cds-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a href="..." clrDropdownItem>Preferences</a>
            <button (click)="logOut()">log out</button>
          </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</clr-header>