<div class="clr-col-lg-12 clr-col-md-8 clr-col-12">
  <div class="clr-row clr-col-md-12">
    <app-svc-search-input #queryInput [orgMrn]="orgMrn" (searchEvent)="onSearch($event)" (clearAllEvent)="onClearAll()"
                          [isLoadingGlobal]="globalSearchInProgress" [errorMessage]="errorMessage" style="width: 100%;"/>
  </div>
    <div class="clr-row">
      <div class="clr-col-md-12">
        <app-input-geometry #map [mapContainerHeight]="400" [isEditing]="true"
        (geometryChangeEvent)="onUpdateGeometry($event)" [isForSearch]="true"
        [geometry]="geometries" [geometryBacklink]="geometryBacklink"
        (clearEvent)="onClearQueryGeometry()"/>
          @if (isLoading) {
              <div class="spinner-view">
                  <clr-spinner>Loading</clr-spinner>
              </div>
          } @else {
              <app-smart-expandable-table #exTable
                [itemType]="itemType" [labels]="labels" [getData]="fetchData"
                [totalPages]="totalPages" [totalElements]="totalElements"
                (refreshEvent)="refreshData()" (viewEvent)="view($event)"
            placeholder="There is no data." />
          }
    </div>
</div>

<clr-side-panel
  [(clrSidePanelOpen)]="showPanel"
  [clrSidePanelPreventClose]="true"
  (clrSidePanelAlternateClose)="showPanel = false"
  #panel
>
  <div class="side-panel-body">
    <app-item-view [isLoading]="isLoading" [itemType]="instanceType" [item]="selectedInstance" [orgMrn]="orgMrn" [viewOnly]="true" [noMap]="true"/>
  </div>
  <div class="side-panel-footer">
    <button type="button" class="btn btn-outline-primary" [disabled]="!selectedInstanceIsLocal" (click)="moveToEditPage(selectedInstance, false)">Move to Detail Page</button>
    <button type="button" class="btn btn-primary" (click)="panel.close()">Close</button>
  </div>
</clr-side-panel>