<div class="overlay-container">
    <app-input-geometry #map [fullscreen]="true" [isEditing]="true"
      (onGeometryChange)="onUpdateGeometry($event)" [isForSearch]="true"
      [geometry]="geometries" [geometryBacklink]="geometryBacklink"
      (select)="showInstanceInfo($event)"
      (onClear)="onClearQueryGeometry()" />
    <div class="overlay">
      <app-svc-search-input #queryInput [orgMrn]="orgMrn" (onSearch)="onSearch($event)" (onClearAll)="onClearAll()" />
    </div>
</div>

<clr-side-panel
  [(clrSidePanelOpen)]="showPanel"
  [clrSidePanelPreventClose]="true"
  (clrSidePanelAlternateClose)="showPanel = false"
  #panel
>
  <div class="side-panel-body">
    <clr-accordion>
      @for(selectedInstance of selectedInstances ; track selectedInstance.id){
        <clr-accordion-panel>
          <clr-accordion-title>{{selectedInstance.name}}</clr-accordion-title>
          <clr-accordion-content *clrIfExpanded>
            <app-item-view [isLoading]="isLoading" [itemType]="instanceType" [item]="selectedInstance" [orgMrn]="''" [viewOnly]="true" [noMap]="true"/>
            <button type="button" class="btn btn-outline-primary btn-block" (click)="moveToEditPage(selectedInstance, false)">Move to Detail</button>
          </clr-accordion-content>
        </clr-accordion-panel>
      }
    </clr-accordion>
    
  </div>
  <div class="side-panel-footer">
    <button type="button" class="btn btn-primary" (click)="panel.close()">Close</button>
  </div>
</clr-side-panel>