<clr-vertical-nav [clrVerticalNavCollapsible]="false">
    <ng-container *ngFor="let group of navGroups">
        <clr-vertical-nav-group *ngIf="group.children; else singleLink" routerLinkActive="active">
          <cds-icon [attr.shape]="group.icon" clrVerticalNavIcon></cds-icon>
          {{ group.title }}
          <clr-vertical-nav-group-children>
            <a *ngFor="let link of group.children" clrVerticalNavLink [routerLink]="link.link" routerLinkActive="active">
              {{ link.title }}
            </a>
          </clr-vertical-nav-group-children>
        </clr-vertical-nav-group>
        <ng-template #singleLink>
          <a clrVerticalNavLink [routerLink]="group.link" routerLinkActive="active">
            <cds-icon [attr.shape]="group.icon" clrVerticalNavIcon></cds-icon>
            {{ group.title }}
          </a>
        </ng-template>
      </ng-container>
  </clr-vertical-nav>