<div class="clr-row">
  <div class="clr-col-lg-12 clr-col-md-8 clr-col-12">
    <div class="card">
      <div class="card-header">
        {{ title }}
      </div>
      <div class="card-block">
        <div class="card-text">
          @if (itemType === 'instance') {
            <button class="btn btn-primary" (click)="setXmlEditor()" *ngIf="!isXmlEditorEnabled">
              @if (isForNew) {
                Create with G1128 XML
              } @else {
                Edit with G1128 XML
              }
            </button>
            <button class="btn btn-warning" type="submit" (click)="setXmlEditor()" *ngIf="isXmlEditorEnabled">
              Back to instance
            </button>
          }
          <form clrForm [formGroup]="itemForm" class="ng-untouched">
            <div
              *ngFor="let menu of columnForMenu | keyvalue : sortColumnForMenu"
            >
              @if (menu.key === 'mrn'){
                @if (menu.value.immutable && !isForNew) {
                  <div class="clr-form-control clr-form-control-disabled ng-star-inserted clr-row">
                    <label class="clr-control-label clr-col-12 clr-col-md-2">{{ menu.value.title }} {{ menu.value.required ? '*' : ''}}</label>
                    <div class="clr-control-container clr-col-md-10 clr-col-12">
                      <div class="clr-input-wrapper">
                        <!-- to show disabled input-->
                        <input type="text" placeholder="clarity_admin" value="{{item[menu.key]}}" disabled="" class="clr-input" style="width: 400px;">
                      </div>
                    </div>
                  </div>
                } @else {
                  <clr-input-container *ngIf="!isXmlEditorEnabled">
                    <label>{{ menu.value.title }} {{ menu.value.required ? '*' : ''}}</label>
                    <input
                      clrInput
                      [type]="menu.value.type"
                      [formControlName]="menu.key"
                      [required]="menu.value.required === true"
                      [placeholder]="mrnPrefix"
                      (ngModelChange)="onMrnChange($event)"
                      (keydown)="onMrnKeyDown($event)"
                      [style.width.px]="400"
                    />
                    <clr-control-helper>{{
                      menu.value.description
                    }}</clr-control-helper>
                    @if (menu.value.error){
                    <clr-control-error>{{ menu.value.error }}</clr-control-error>
                    } @else {
                    <clr-control-error>Please enter a value</clr-control-error>
                    }
                  </clr-input-container>
                }
              } @else if (menu.value.type === 'stringArray'){
                <!-- array element handling -->
                    @if (menu.value.options) {
                      <clr-combobox-container *ngIf="!isXmlEditorEnabled">
                        <label>{{ menu.value.title }} {{ menu.value.required ? '*' : ''}}</label>
                        <clr-combobox
                          [formControlName]="menu.key"
                          name="multiSelect"
                          clrMulti="true"
                          [required]="menu.value.required === true"
                        >
                          <ng-container *clrOptionSelected="let selected">
                            {{ selected?.title }}
                          </ng-container>
                          <clr-options>
                            <clr-option
                              *clrOptionItems="
                                let option of menu.value.options;
                                field: 'title'
                              "
                              [clrValue]="option"
                            >
                              {{ option.title }}
                            </clr-option>
                          </clr-options>
                        </clr-combobox>
                        <clr-control-helper>{{
                          menu.value.description
                        }}</clr-control-helper>
                        @if (menu.value.error){
                        <clr-control-error>{{ menu.value.error }}</clr-control-error>
                        } @else {
                        <clr-control-error>Please select a value</clr-control-error>
                        }
                      </clr-combobox-container>
                    } @else {
                      <clr-input-container *ngIf="!isXmlEditorEnabled">
                        <label>{{ menu.value.title }} {{ menu.value.required ? '*' : ''}}</label>
                        <input
                          clrInput
                          [type]="menu.value.type"
                          [formControlName]="menu.key"
                          [required]="menu.value.required === true"
                          [style.width.px]="400"
                        />
                      </clr-input-container>
                    }
            } @else if (menu.value.options){
              <!-- singular, but with options -->
              <clr-select-container *ngIf="!isXmlEditorEnabled">
                <label>{{ menu.value.title }} {{ menu.value.required ? '*' : ''}}</label>
                <select
                  clrSelect
                  [formControlName]="menu.key"
                  [required]="menu.value.required === true"
                  [style.width.px]="400"
                >
                  <option
                    *ngFor="let option of menu.value.options"
                    [value]="option.value"
                  >
                    {{ option.title }}
                  </option>
                </select>
                <clr-control-helper>{{
                  menu.value.description
                }}</clr-control-helper>
                @if (menu.value.error){
                <clr-control-error>{{ menu.value.error }}</clr-control-error>
                } @else {
                <clr-control-error>Please select a value</clr-control-error>
                }
              </clr-select-container>
              } @else if (menu.key === 'permissions'){
              <clr-select-container *ngIf="!isXmlEditorEnabled">
                <label>{{ menu.value.title }} {{ menu.value.required ? '*' : ''}}</label>
                <select
                  clrSelect
                  [formControlName]="menu.key"
                  [required]="menu.value.required === true"
                  [style.width.px]="400"
                >
                  <option *ngFor="let role of roles" [value]="role.permission">
                    {{ role.permission }}
                  </option>
                </select>
                <clr-control-helper>{{
                  menu.value.description
                }}</clr-control-helper>
                @if (menu.value.error){
                <clr-control-error>{{ menu.value.error }}</clr-control-error>
                } @else {
                <clr-control-error>Please enter a value</clr-control-error>
                }
              </clr-select-container>
              } @else if(menu.value.type === 'file') {
                <clr-input-container *ngIf="!isXmlEditorEnabled">
                  <label>{{ menu.value.title }} {{ menu.value.required ? '*' : ''}}</label>
                  <input
                    clrInput
                    [type]="menu.value.type"
                    [formControlName]="menu.key"
                    [required]="menu.value.required === true"
                    [style.width.px]="400"
                    (change)="onFileChange($event, menu.key)"
                  />
                  <clr-control-helper>{{
                    menu.value.description
                  }}</clr-control-helper>
                  @if (menu.value.error){
                  <clr-control-error>{{ menu.value.error }}</clr-control-error>
                  } @else {
                  <clr-control-error>Please enter a value</clr-control-error>
                  }
                </clr-input-container>
                <!-- show file download and delete buttons when element exists -->
                @if (item[menu.key.replace('Name', '')]){
                  <div _ngcontent-ng-c3994056840="" class="clr-row ng-star-inserted" *ngIf="!isXmlEditorEnabled">
                    <label _ngcontent-ng-c3994056840="" class="clr-control-label clr-col-12 clr-col-md-2" for="clr-form-control-13"></label>
                    <div class="clr-col-md-10 clr-col-12" ng-reflect-ng-class="clr-col-md-10 clr-col-12">
                      <clr-button-group class="btn-outline-primary btn-sm">
                        <clr-button (click)="downloadFile(menu.key)">{{
                          item[menu.key.replace('Name', '')].name.length > 20 ?
                          shortenFileName(item[menu.key.replace('Name', '')].name, 20)
                            : item[menu.key.replace('Name', '')].name}}
                          <cds-icon shape="download"></cds-icon></clr-button>
                        <clr-button (click)="deleteFile(menu.key)" class="btn-outline-warning"><cds-icon shape="times"></cds-icon></clr-button>
                      </clr-button-group>
                    </div>
                  </div>
                }
              } @else if(menu.value.type === 'xml') {
                <clr-textarea-container *ngIf="isXmlEditorEnabled">
                  <label>{{ menu.value.title }} {{ menu.value.required ? '*' : ''}}</label>
                  <textarea
                    clrTextarea
                    cols="150"
                    rows="60"
                    [formControlName]="menu.key"
                    [required]="menu.value.required === true"
                    [style.width.px]="400"
                    [hidden]="!isXmlEditorEnabled"
                  ></textarea>
                  <clr-control-helper>{{
                    menu.value.description
                  }}</clr-control-helper>
                  @if (menu.value.error){
                  <clr-control-error>{{ menu.value.error }}</clr-control-error>
                  } @else {
                  <clr-control-error>Please enter a value</clr-control-error>
                  }
                </clr-textarea-container>
              } @else {
              <clr-input-container *ngIf="!isXmlEditorEnabled">
                <label>{{ menu.value.title }} {{ menu.value.required ? '*' : ''}}</label>
                <input
                  clrInput
                  [type]="menu.value.type"
                  [formControlName]="menu.key"
                  [required]="menu.value.required === true"
                  [style.width.px]="400"
                />
                <clr-control-helper>{{
                  menu.value.description
                }}</clr-control-helper>
                @if (menu.value.error){
                <clr-control-error>{{ menu.value.error }}</clr-control-error>
                } @else {
                <clr-control-error>Please enter a value</clr-control-error>
                }
              </clr-input-container>
              }
            </div>
                @if (itemType === 'instance') {
                  <div _ngcontent-ng-c3994056840="" class="clr-row ng-star-inserted" style="margin-top: 24px;" *ngIf="!isXmlEditorEnabled">
                    <label _ngcontent-ng-c3994056840="" class="clr-control-label clr-col-12 clr-col-md-2" for="clr-form-control-13">Service coverage</label>
                    <div class="clr-col-md-10 clr-col-12" ng-reflect-ng-class="clr-col-md-10 clr-col-12">
                      <app-input-geometry #map [geometry]="geometry" [isEditing]="true" [mapContainerHeight]="400" (onGeometryChange)="setGeometryInput($event)"/>
                    </div>
                  </div>
                }
          </form>
          <div cds-text="secondary regular" style="padding-top: 20px;"> *: required</div>
        </div>
      </div>
      @if (onSubmitIsGiven){
      <div class="card-footer">
        <button class="btn btn-primary" type="submit" (click)="submit()" *ngIf="!isXmlEditorEnabled">
          Submit
        </button>
        <button class="btn btn-success" type="submit" (click)="onVerify()" *ngIf="isXmlEditorEnabled">
          Verify
        </button>
        <button class="btn btn-warning" type="submit" (click)="setXmlEditor()" *ngIf="isXmlEditorEnabled">
          Back to instance
        </button>
        <button class="btn btn-warning" (click)="resetForm()" *ngIf="!isXmlEditorEnabled">Reset</button>
        @if (!isForNew){
        <button class="btn btn-danger" (click)="cancel()">Cancel</button>
        }
      </div>
      }
    </div>
  </div>
</div>
