<div class="clr-row clr-justify-content-center">
    <h1>{{numberOfItems}}</h1>
</div>
<div class="clr-row clr-justify-content-center">
    <h5>{{itemType}}s</h5>
</div>

<div class="clr-row clr-justify-content-center">
    <h1>{{numberOfActive}}</h1>
</div>
<div class="clr-row clr-justify-content-center">
    <h5>active certificates</h5>
</div>

<div class="clr-row clr-justify-content-center">
    <h1>{{numberOfExpired}}</h1>
</div>
<div class="clr-row clr-justify-content-center">
    <h5>expired certificates</h5>
</div>

<div class="clr-row clr-justify-content-center">
    <h1>{{numberOfRevoked}}</h1>
</div>
<div class="clr-row clr-justify-content-center">
    <h5>revoked certificates</h5>
</div>