<div class="parent">
    @if (itemType !== 'none') {
        <app-smart-expandable-table #exTable
            [itemType]="itemType" [labels]="labels" [getData]="fetchData"
            [totalPages]="totalPages" [totalElements]="totalElements"
            [deleteCall]="onDelete" [addCall]="onAdd" [hasEditPermission]="hasEditPermission"
            (refreshEvent)="refreshData()" (migrateEvent)="migrate($event)"
            (editEvent)="edit($event)" (approveEvent)="approve($event)"
            placeholder="Click the Search button to perform a search" />
    }
</div>