<div class="parent">
    @if (itemType !== 'none') {
        <app-smart-expandable-table #exTable
            [itemType]="itemType" [labels]="labels" [getData]="fetchData"
            [totalPages]="totalPages" [totalElements]="totalElements"
            [onDelete]="onDelete" [onAdd]="onAdd"
            (onRefresh)="refreshData()" (onMigrate)="migrate($event)"
            (onEdit)="edit($event)" (onApprove)="approve($event)"
            (onView)="view($event)"
        placeholder="There is no data." />
    }
</div>