<div class="parent">
    <div>
        <button class="btn btn-sm btn-secondary" (click)="back()">Back</button>
    </div>
    @if (isEditing) {
    <app-item-form [itemType]="itemType" [item]="item" (onSubmit)="submit($event)" (onCancel)="cancel()" />
    } @else {
    <app-item-view [itemType]="itemType" [item]="item" (onEdit)="edit(item)"></app-item-view>
    }
    @if (isLoading) {
    <div class="spinner-view">
        <clr-spinner *ngIf="isLoading">Loading</clr-spinner>
    </div>
    }
</div>